<%- include('partials/header.ejs') %>
    <h1>ABOUT PAGE</h1>
    <ol>
    
    <% favThings.forEach(thing => { %>
        <li><%= thing %> </li>
    <% }) %>
    </ol>
<%- include('partials/footer.ejs') %>